# https://EditorConfig.org

# is this the topmost EditorConfig file?
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespaces = true

[*.{js,ts}]
indent_size = 4
max_line_length = 80
quote_type = single

[*.{yml,yaml}]
indent_size = 2
max_line_length = 80
